In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from collections import Counter

In [2]:
dataset = pd.read_csv('../Files/dlotek1111.csv', sep=';', header=None)
dataset.head()

       0      1        2     3   4   5   6   7   8   9
0  Numer  Dzien  Miesiac   Rok  L1  L2  L3  L4  L5  L6
1   6961     14       11  2023   4  10  13  36  43  47
2   6962     16       11  2023   4  16  24  29  30  32
3   6963     18       11  2023  14  20  26  34  38  46
4   6939     23        9  2023   7   9  21  32  39  46

In [3]:
columns_to_drop = [0, 1, 2, 3]
dataset = dataset.drop(columns = columns_to_drop, axis = 1)
dataset.head()

    4   5   6   7   8   9
0  L1  L2  L3  L4  L5  L6
1   4  10  13  36  43  47
2   4  16  24  29  30  32
3  14  20  26  34  38  46
4   7   9  21  32  39  46

In [4]:
dataset = dataset.tail(25)
dataset

     4   5   6   7   8   9
1    4  10  13  36  43  47
2    4  16  24  29  30  32
3   14  20  26  34  38  46
4    7   9  21  32  39  46
5    5   7  20  29  33  46
6    1   5   9  23  34  44
7   25  27  28  32  33  48
8    1   8   9  12  37  49
9   17  18  31  36  43  49
10  13  17  31  37  44  49
11   2  10  17  22  28  42
12   9  16  17  18  27  41
13   9  19  37  41  46  47
14   5  15  33  39  40  42
15   6  30  38  46  48  49
16   5  13  17  36  39  47
17   3  19  27  28  36  43
18   4   5  18  25  31  38
19   7   8  24  30  38  47
20  26  28  33  41  43  47
21   5   7  15  17  31  49
22   2   9  17  29  36  48
23   5   8  22  23  37  44
24   4   7  24  35  36  47
25  10  14  22  27  30  32

In [5]:
values_list = dataset.values.ravel()
print(values_list)

['4' '10' '13' '36' '43' '47' '4' '16' '24' '29' '30' '32' '14' '20' '26'
 '34' '38' '46' '7' '9' '21' '32' '39' '46' '5' '7' '20' '29' '33' '46'
 '1' '5' '9' '23' '34' '44' '25' '27' '28' '32' '33' '48' '1' '8' '9' '12'
 '37' '49' '17' '18' '31' '36' '43' '49' '13' '17' '31' '37' '44' '49' '2'
 '10' '17' '22' '28' '42' '9' '16' '17' '18' '27' '41' '9' '19' '37' '41'
 '46' '47' '5' '15' '33' '39' '40' '42' '6' '30' '38' '46' '48' '49' '5'
 '13' '17' '36' '39' '47' '3' '19' '27' '28' '36' '43' '4' '5' '18' '25'
 '31' '38' '7' '8' '24' '30' '38' '47' '26' '28' '33' '41' '43' '47' '5'
 '7' '15' '17' '31' '49' '2' '9' '17' '29' '36' '48' '5' '8' '22' '23'
 '37' '44' '4' '7' '24' '35' '36' '47' '10' '14' '22' '27' '30' '32']

In [6]:
dane = dict(Counter(values_list))
print(dane)

{'4': 4, '10': 3, '13': 3, '36': 6, '43': 4, '47': 6, '16': 2, '24': 3, '29': 3, '30': 4, '32': 4, '14': 2, '20': 2, '26': 2, '34': 2, '38': 4, '46': 5, '7': 5, '9': 6, '21': 1, '39': 3, '5': 7, '33': 4, '1': 2, '23': 2, '44': 3, '25': 2, '27': 4, '28': 4, '48': 3, '8': 3, '12': 1, '37': 4, '49': 5, '17': 7, '18': 3, '31': 4, '2': 2, '22': 3, '42': 2, '41': 3, '19': 2, '15': 2, '40': 1, '6': 1, '3': 1, '35': 1}

# Wyliczenia

In [7]:
# Definiowanie przedziałów
przedzialy = {
    '1-7': 0,
    '8-14': 0,
    '15-21': 0,
    '22-28': 0,
    '29-35': 0,
    '36-42': 0,
    '43-49': 0
}

# Przypisz wartości wystąpień do odpowiednich przedziałów
for liczba, wystapienia in dane.items():
    liczba = int(liczba)  # Zamień klucz na liczbę całkowitą
    if 1 <= liczba <= 7:
        przedzialy['1-7'] += wystapienia
    elif 8 <= liczba <= 14:
        przedzialy['8-14'] += wystapienia
    elif 15 <= liczba <= 21:
        przedzialy['15-21'] += wystapienia
    elif 22 <= liczba <= 28:
        przedzialy['22-28'] += wystapienia
    elif 29 <= liczba <= 35:
        przedzialy['29-35'] += wystapienia
    elif 36 <= liczba <= 42:
        przedzialy['36-42'] += wystapienia
    elif 43 <= liczba <= 49:
        przedzialy['43-49'] += wystapienia

# Wypisz wyniki
for przedzial, dane_w_przedziale in przedzialy.items():
    print(f"Przedział {przedzial}: {dane_w_przedziale} wystąpień.")

Przedział 1-7: 22 wystąpień.
Przedział 8-14: 18 wystąpień.
Przedział 15-21: 19 wystąpień.
Przedział 22-28: 20 wystąpień.
Przedział 29-35: 22 wystąpień.
Przedział 36-42: 23 wystąpień.
Przedział 43-49: 26 wystąpień.

In [8]:
# Sortowanie przedziałów malejąco według liczby wystąpień
posortowane_przedzialy = sorted(przedzialy.items(), key=lambda x: x[1], reverse=True)

# Wyświetlanie 2 wartości, które wystąpiły najczęściej w każdym przedziale
for przedzial, dane in posortowane_przedzialy:
    print(f"Przedział {przedzial}: {dane_w_przedziale} wystąpień.")
    
# Tworzenie słownika wartości wystąpień dla danego przedziału
wartosci_wystapien = {}

for przedzial, dane_w_przedziale in posortowane_przedzialy:
    przedzial_start, przedzial_end = map(int, przedzial.split('-'))
    
    # Tworzenie listy wartości w danym przedziale
    wartosci_w_przedziale = [liczba for liczba in values_list if przedzial_start <= int(liczba) <= przedzial_end]
    
    # Tworzenie słownika wartości wystąpień w danym przedziale
    dane_w_przedziale = dict(Counter(wartosci_w_przedziale))
    
    # Sortowanie wartości wystąpień w danym przedziale
    posortowane_wartosci = sorted(dane_w_przedziale.items(), key=lambda x: x[1], reverse=True)
    
    # Wybieranie dwóch najczęściej występujących wartości
    wybrane_wartosci = posortowane_wartosci[:7]
    
    # Dodawanie wybranych wartości do słownika wynikowego
    wartosci_wystapien[przedzial] = wybrane_wartosci

# Wyświetlanie wybranych wartości
for przedzial, wybrane_wartosci in wartosci_wystapien.items():
    print(f"Przedział {przedzial}:")
    for wartosc, wystapienia in wybrane_wartosci:
        print(f" - Wartość: {wartosc}, wystąpienia: {wystapienia}")

Przedział 43-49: 26 wystąpień.
Przedział 36-42: 26 wystąpień.
Przedział 1-7: 26 wystąpień.
Przedział 29-35: 26 wystąpień.
Przedział 22-28: 26 wystąpień.
Przedział 15-21: 26 wystąpień.
Przedział 8-14: 26 wystąpień.
Przedział 43-49:
 - Wartość: 47, wystąpienia: 6
 - Wartość: 46, wystąpienia: 5
 - Wartość: 49, wystąpienia: 5
 - Wartość: 43, wystąpienia: 4
 - Wartość: 44, wystąpienia: 3
 - Wartość: 48, wystąpienia: 3
Przedział 36-42:
 - Wartość: 36, wystąpienia: 6
 - Wartość: 38, wystąpienia: 4
 - Wartość: 37, wystąpienia: 4
 - Wartość: 39, wystąpienia: 3
 - Wartość: 41, wystąpienia: 3
 - Wartość: 42, wystąpienia: 2
 - Wartość: 40, wystąpienia: 1
Przedział 1-7:
 - Wartość: 5, wystąpienia: 7
 - Wartość: 7, wystąpienia: 5
 - Wartość: 4, wystąpienia: 4
 - Wartość: 1, wystąpienia: 2
 - Wartość: 2, wystąpienia: 2
 - Wartość: 6, wystąpienia: 1
 - Wartość: 3, wystąpienia: 1
Przedział 29-35:
 - Wartość: 30, wystąpienia: 4
 - Wartość: 32, wystąpienia: 4
 - Wartość: 33, wystąpienia: 4
 - Wartość: 31, wystąpienia: 4
 - Wartość: 29, wystąpienia: 3
 - Wartość: 34, wystąpienia: 2
 - Wartość: 35, wystąpienia: 1
Przedział 22-28:
 - Wartość: 27, wystąpienia: 4
 - Wartość: 28, wystąpienia: 4
 - Wartość: 24, wystąpienia: 3
 - Wartość: 22, wystąpienia: 3
 - Wartość: 26, wystąpienia: 2
 - Wartość: 23, wystąpienia: 2
 - Wartość: 25, wystąpienia: 2
Przedział 15-21:
 - Wartość: 17, wystąpienia: 7
 - Wartość: 18, wystąpienia: 3
 - Wartość: 16, wystąpienia: 2
 - Wartość: 20, wystąpienia: 2
 - Wartość: 19, wystąpienia: 2
 - Wartość: 15, wystąpienia: 2
 - Wartość: 21, wystąpienia: 1
Przedział 8-14:
 - Wartość: 9, wystąpienia: 6
 - Wartość: 10, wystąpienia: 3
 - Wartość: 13, wystąpienia: 3
 - Wartość: 8, wystąpienia: 3
 - Wartość: 14, wystąpienia: 2
 - Wartość: 12, wystąpienia: 1